body {
    background-image: url(./assets/stopwatch-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.clock-container {
    backdrop-filter: blur(15px);
    width: 100vw;
    padding: 12px 0;
}

.clock {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px hsla(240, 100%, 0%, 0.475);
    text-align: center;
}